/*! 
	cubicFUSION Admin Enhancer \ Admin Toolbar
	Alex @ portalZINE NMN
	https://portalzine.de/cubicfusion

*/
#prime{
	
}


	left: 160px;
}

#adminmenuwrap{
	top: 60px;
}

#adminmenuback::before{
	content:"";
	position: absolute;
	top:0;
	left:0;
	height:160px;
	width: 160px;
	background: white;
}
